/* Colors */
$bg_body: #75A8C3;
$bg_bottom_body: #CBE5F2;
$bg_header: rgba(36, 89, 117, 0.9);
$border_header: #4D8DB0;
$bg_footer: #477EA3;
$border_footer: #396582;

@mixin my-gradient($fromColor, $toColor) {
  background: $fromColor;
  background: -webkit-gradient(linear, left top, left bottom, from($fromColor), to($toColor));
  background: -webkit-linear-gradient($fromColor, $toColor);
  background:    -moz-linear-gradient($fromColor, $toColor);
  background:     -ms-linear-gradient($fromColor, $toColor);
  background:      -o-linear-gradient($fromColor, $toColor);
  background:         linear-gradient($fromColor, $toColor);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#{$fromColor}', EndColorStr='#{$toColor}');
}

/* Sizes */
$navbar-height: 42px;
$footer-height: 60px;
