<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <div class="col-sm-7 left-table">
        <div class="col brand">
          <a href="#/{{lang.lang}}">
            <img src="images/logo.png" alt="WebDesign"/>
          </a>
        </div>
        <div class="col navigation">
          <ul class="nav nav-pills">
            <li class="{{styles.homeActive}}"><a ng-href="#/{{lang.lang}}">{{lang.home}}</a></li>
            <li class="{{styles.aboutActive}}"><a ng-href="#/{{lang.lang}}/about">{{lang.about}}</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-5 navbar-right">
        <div class="pull-right navbar-search">
          <a href="#/{{vars.otherLang}}/{{vars.currentPage}}">
            <img src="images/{{vars.otherLang}}.png" alt="{{vars.otherLang}}" />
          </a>
          <input class="search-query {{styles.searchVisible}}" type="text" placeholder="{{lang.search}}" ng-model="vars.searchText" />
        </div>
      </div>
    </div>
  </div>
</div>