<div class="main-content">
  <div class="row">
    <div class="col-sm-4 jumbotron">
        <p class="lead">
          <img src="images/yeoman.png" alt="I'm Yeoman"><br>
          Always a pleasure scaffolding your aps.
        </p>
        <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!</span></a>
        <span class="glyphicon glyphicon-ok"></p>
    </div>
    <div class="col-sm-8">
      <div class="panel" ng-repeat="elem in awesomeThings">
        Test: {{elem}}
      </div>
      <div class="jumbotron">
        <h1>'Allo, 'Allo!</h1>
        <p class="lead">
          <img src="images/yeoman.png" alt="I'm Yeoman"><br>
          Always a pleasure scaffolding your aps.
        </p>
        <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
      </div>
    </div>
  </div>

  <div class="jumbotron">
    <h1>'Allo, 'Allo!</h1>
    <p class="lead">
      <img src="images/yeoman.png" alt="I'm Yeoman"><br>
      Always a pleasure scaffolding your apps.
    </p>
    <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
  </div>
  <div class="jumbotron">
    <h1>'Allo, 'Allo!</h1>
    <p class="lead">
      <img src="images/yeoman.png" alt="I'm Yeoman"><br>
      Always a pleasure scaffolding your apps.
    </p>
    <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
  </div>
  <div class="jumbotron">
    <h1>'Allo, 'Allo!</h1>
    <p class="lead">
      <img src="images/yeoman.png" alt="I'm Yeoman"><br>
      Always a pleasure scaffolding your apps.
    </p>
    <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
  </div>
  <div class="jumbotron">
    <h1>'Allo, 'Allo!</h1>
    <p class="lead">
      <img src="images/yeoman.png" alt="I'm Yeoman"><br>
      Always a pleasure scaffolding your apps.
    </p>
    <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
  </div>
</div>