<header class="header" ng-include="'views/header.html'"></header>
<div class="container main-content">
  <div class="row">
    <div class="col-sm-4">
      <div class="well">
        <p class="lead">
          <img src="images/yeoman.png" alt="I'm Yeoman"><br>
          {{lang.dummy}}
        </p>
        <p><a class="btn btn-lg btn-success" ng-href="#">{{lang.splendid}}</span></a>
        <span class="glyphicon glyphicon-ok"></p>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="well" ng-repeat="elem in resume | search_text">
        {{elem}}
      </div>
    </div>
  </div>
  <div class="jumbotron">
    <h1>{{lang.allo}}</h1>
    <p class="lead">
      <img src="images/yeoman.png" alt="I'm Yeoman"><br>
      {{lang.dummy}}
    </p>
    <p><a class="btn btn-lg btn-success" ng-href="#">{{lang.splendid}}<span class="glyphicon glyphicon-ok"></span></a></p>
  </div>
  <div class="jumbotron">
    <h1>{{lang.allo}}</h1>
    <p class="lead">
      <img src="images/yeoman.png" alt="I'm Yeoman"><br>
      {{lang.dummy}}
    </p>
    <p><a class="btn btn-lg btn-success" ng-href="#">{{lang.splendid}}<span class="glyphicon glyphicon-ok"></span></a></p>
  </div>
  <div class="jumbotron">
    <h1>{{lang.allo}}</h1>
    <p class="lead">
      <img src="images/yeoman.png" alt="I'm Yeoman"><br>
      {{lang.dummy}}
    </p>
    <p><a class="btn btn-lg btn-success" ng-href="#">{{lang.splendid}}<span class="glyphicon glyphicon-ok"></span></a></p>
  </div>
  <div class="jumbotron">
    <h1>{{lang.allo}}</h1>
    <p class="lead">
      <img src="images/yeoman.png" alt="I'm Yeoman"><br>
      {{lang.dummy}}
    </p>
    <p><a class="btn btn-lg btn-success" ng-href="#">{{lang.splendid}}<span class="glyphicon glyphicon-ok"></span></a></p>
  </div>
</div>
<footer class="footer" ng-include="'views/footer.html'"></footer>